* {
    padding:0;
    margin: 0;
  }

  
 .top-bar{
   input{
     max-width:365px;
   }

   .top-bar-left{
     ul{
       float: left;
     }
   }
   .top-bar-right{

     .menu{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
       .input_container{
         position: relative;
         width: 50%;
        
         
         .fa-search{
           position: absolute;
           bottom: 10px;
           right: 20px;
         }
       }
       .login{
         color: black;
       }
       .primary{
        color: #1779ba;
        background-color: white;
        border-color: #1779ba;
        border-radius: 5px;
       
       }
     }
   }
 }

 .menu{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .is-active{
    a{
    color: #1779ba;
    border-bottom: 2px solid #1779ba;
    background-color: white;
    }
  }
 }

 .information{
   margin-top: 50px;
   .actor_info{
     img{
      border-radius: 50%;
      border: none;
      height: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
     }
     h4{
      font-size: 1.5625rem;
      text-align: center;
      font-weight: bold;
     }
     p{
       text-align: center;
     }
     .social_icons{
       a{
      background: darkgrey;
      color: #fefefe;
      border-radius: 50%;
       }
     }
     .contact_info{
      display: flex;
      flex-direction: column;
      align-items:center ;
      margin-top: 20px;
      align-items: center;
      a{
        padding: 10px;
      }
     }
   }

   .author_bio{
     .publications{

      .publication_info{
        .cell{
          border: 1px solid beige;
        }

      }
       
       h4{
         font-weight: bold;
       }

      .interests{

        h4{
          font-weight: bold;
        }
        .grid-x{

          .cell{
            border: 1px solid beige;
            background-color: ghostwhite;
          }

        }

      } 

     }
   }

 }
  

  