* {
  padding: 0;
  margin: 0;
}

.top-bar input {
  max-width: 365px;
}
.top-bar .top-bar-left ul {
  float: left;
}
.top-bar .top-bar-right .menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.top-bar .top-bar-right .menu .input_container {
  position: relative;
  width: 50%;
}
.top-bar .top-bar-right .menu .input_container .fa-search {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.top-bar .top-bar-right .menu .login {
  color: black;
}
.top-bar .top-bar-right .menu .primary {
  color: #1779ba;
  background-color: white;
  border-color: #1779ba;
  border-radius: 5px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.menu .is-active a {
  color: #1779ba;
  border-bottom: 2px solid #1779ba;
  background-color: white;
}

.information {
  margin-top: 50px;
}
.information .actor_info img {
  border-radius: 50%;
  border: none;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.information .actor_info h4 {
  font-size: 1.5625rem;
  text-align: center;
  font-weight: bold;
}
.information .actor_info p {
  text-align: center;
}
.information .actor_info .social_icons a {
  background: darkgrey;
  color: #fefefe;
  border-radius: 50%;
}
.information .actor_info .contact_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  align-items: center;
}
.information .actor_info .contact_info a {
  padding: 10px;
}
.information .author_bio .publications .publication_info .cell {
  border: 1px solid beige;
}
.information .author_bio .publications h4 {
  font-weight: bold;
}
.information .author_bio .publications .interests h4 {
  font-weight: bold;
}
.information .author_bio .publications .interests .grid-x .cell {
  border: 1px solid beige;
  background-color: ghostwhite;
}

/*# sourceMappingURL=style.css.map */
